In [257]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import math
from plotnine import *

from sklearn.preprocessing import StandardScaler

from sklearn.cluster import DBSCAN
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.mixture import GaussianMixture

import scipy.cluster.hierarchy as sch
from sklearn.metrics import silhouette_score
from sklearn.neighbors import NearestNeighbors

In [258]:
fields = ['GenderSelect', 'Country', 'Age', 'EmploymentStatus', 'CodeWriter', 'StudentStatus', 'CurrentJobTitleSelect', 'LanguageRecommendationSelect', 'LearningDataScienceTime', 'TimeSpentStudying', 'FormalEducation', 'CompensationAmount', 'JobHuntTime', 'EmployerSearchMethod']
df = pd.read_csv("Datasets/multipleChoiceResponses.csv", usecols = fields , encoding = 'latin-1')

df.head()

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,CodeWriter,CurrentJobTitleSelect,LanguageRecommendationSelect,LearningDataScienceTime,TimeSpentStudying,FormalEducation,EmployerSearchMethod,CompensationAmount,JobHuntTime
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,Yes,DBA/Database Engineer,F#,NaN,NaN,Bachelor's degree,I visited the company's Web site and found a j...,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,Python,1-2 years,2 - 10 hours,Master's degree,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,R,1-2 years,2 - 10 hours,Master's degree,NaN,NaN,1-2
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,Yes,Operations Research Practitioner,Python,NaN,NaN,Master's degree,NaN,"250,000",NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,Yes,Computer Scientist,Python,NaN,NaN,Doctoral degree,A tech-specific job board,NaN,NaN

In [259]:
df.shape

(16716, 14)

In [260]:
# Data Cleanup

# Simplify data in GenderSelect
df = df[df['GenderSelect'].isin(['Male', 'Female'])]

# Only United States Respondents
df = df[df['Country'] == 'United States']

# Simplify EmploymentStatus, if employed: 1, else: 0
df['isEmployed'] = df['EmploymentStatus'].apply(lambda x: 1 if any(s in x for s in ['full-time', 'freelancer']) else 0)

# Convert StudentStatus null values to 0
df['StudentStatus'] = df['StudentStatus'].astype(str).apply(lambda x: 1 if 'Yes' in x else 0)

# Only show those who have a job in analyzing data, software or programming
jobTypes = ['Data', 'Software', 'Computer', 'Database', 'Business Analyst', 'Machine Learning', 'Programmer']
df['CodeWriter'] = df['CodeWriter'].apply(lambda x: 1 if x == 'Yes' else 0)
df = df[df['CurrentJobTitleSelect'].isin(jobTypes) | df['CodeWriter'] == 1]

# Factorize FormalEducation
#df['FormalEducation'], uniques = pd.factorize(df['FormalEducation'])

In [262]:
# Factorize FormalEducation
df['FormalEducation'], uniques = pd.factorize(df['FormalEducation'])

# Factorize EmployerSearchMethod
df['EmployerSearchMethod'], uniques = pd.factorize(df['EmployerSearchMethod'])

In [263]:
df.head(30)

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,CodeWriter,CurrentJobTitleSelect,LanguageRecommendationSelect,LearningDataScienceTime,TimeSpentStudying,FormalEducation,EmployerSearchMethod,CompensationAmount,JobHuntTime,isEmployed
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",0,1,Operations Research Practitioner,Python,NaN,NaN,0,NaN,"250,000",NaN,1
6,Male,United States,35.0,Employed full-time,0,1,Computer Scientist,R,NaN,NaN,0,A career fair or on-campus recruiting event,NaN,NaN,1
15,Male,United States,58.0,"Independent contractor, freelancer, or self-em...",0,1,DBA/Database Engineer,R,NaN,NaN,0,NaN,"120,000",NaN,1
21,Male,United States,25.0,Employed part-time,0,1,Researcher,Python,NaN,NaN,1,Some other way,20000,NaN,0
22,Male,United States,33.0,Employed full-time,0,1,Scientist/Researcher,Matlab,NaN,NaN,2,"A friend, family member, or former colleague t...",100000,NaN,1
24,Male,United States,NaN,Employed full-time,0,1,Software Developer/Software Engineer,Matlab,NaN,NaN,0,An external recruiter or headhunter,NaN,NaN,1
34,Male,United States,35.0,Employed full-time,0,1,Engineer,Python,NaN,NaN,2,"A friend, family member, or former colleague t...",133000,NaN,1
39,Male,United States,43.0,Retired,0,1,Software Developer/Software Engineer,Python,NaN,NaN,2,NaN,NaN,NaN,0
40,Male,United States,33.0,Employed full-time,0,1,Operations Research Practitioner,NaN,NaN,NaN,2,I was contacted directly by someone at the com...,NaN,NaN,1
41,Male,United States,30.0,Employed full-time,0,1,Data Scientist,Python,NaN,NaN,0,An external recruiter or headhunter,NaN,NaN,1
48,Male,United States,27.0,Employed full-time,0,1,Scientist/Researcher,Python,NaN,NaN,2,I visited the company's Web site and found a j...,NaN,NaN,1
55,Male,United States,63.0,Employed full-time,0,1,Other,Python,NaN,NaN,0,I was contacted directly by someone at the com...,NaN,NaN,1
59,Male,United States,32.0,Employed full-time,0,1,Researcher,Stata,NaN,NaN,0,A general-purpose job board,NaN,NaN,1
75,Male,United States,40.0,Employed full-time,0,1,Scientist/Researcher,Python,NaN,NaN,2,"A friend, family member, or former colleague t...",215000,NaN,1
80,Male,United States,25.0,Employed full-time,0,1,Engineer,Python,NaN,NaN,0,I visited the company's Web site and found a j...,61000,NaN,1
86,Female,United States,31.0,Employed full-time,0,1,Scientist/Researcher,R,NaN,NaN,2,I was contacted directly by someone at the com...,83500,NaN,1
87,Female,United States,NaN,Employed full-time,0,1,Other,Other,NaN,NaN,0,"A friend, family member, or former colleague t...",NaN,NaN,1
89,Female,United States,39.0,Employed full-time,0,1,Predictive Modeler,R,NaN,NaN,0,A general-purpose job board,115000,NaN,1
100,Female,United States,30.0,Employed full-time,0,1,Business Analyst,Python,NaN,NaN,1,A general-purpose job board,80000,NaN,1
106,Male,United States,50.0,Employed full-time,0,1,Predictive Modeler,R,NaN,NaN,2,Some other way,135000,NaN,1
110,Male,United States,59.0,"Independent contractor, freelancer, or self-em...",0,1,Data Scientist,Python,NaN,NaN,0,NaN,75000,NaN,1
112,Female,United States,27.0,Employed part-time,0,1,Data Analyst,Stata,NaN,NaN,0,I visited the company's Web site and found a j...,NaN,NaN,0
115,Male,United States,68.0,Employed full-time,0,1,Engineer,Python,NaN,NaN,0,"A friend, family member, or former colleague t...",190000,NaN,1
126,Female,United States,29.0,Employed full-time,0,1,Data Analyst,NaN,NaN,NaN,0,"A friend, family member, or former colleague t...",NaN,NaN,1
133,Male,United States,25.0,Employed full-time,0,1,Business Analyst,R,NaN,NaN,0,"A friend, family member, or former colleague t...",45000,NaN,1
138,Male,United States,60.0,Employed full-time,0,1,Other,Python,NaN,NaN,1,Some other way,NaN,NaN,1
140,Male,United States,31.0,Employed full-time,0,0,Business Analyst,R,< 1 year,0 - 1 hour,1,NaN,NaN,0,1
146,Male,United States,27.0,"Independent contractor, freelancer, or self-em...",0,1,Data Scientist,Python,NaN,NaN,3,NaN,80000,NaN,1
163,Male,United States,49.0,Employed full-time,0,1,DBA/Database Engineer,Other,NaN,NaN,4,"A friend, family member, or former colleague t...","85,000",NaN,1
166,Male,United States,62.0,"Independent contractor, freelancer, or self-em...",0,1,Programmer,Python,NaN,NaN,0,NaN,"65,000",NaN,1